<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Add a new product</title>
</head>
<body>
   <form action="" method="get">
      <div>
         <label for="nameProduct">Nombre del producto</label>
         <input type="text" name="nameProduct">
      </div>
      <div>
         <button type="reset">Borrar</button>
         <button type="submit">Enviar</button>
      </div>
   </form>
</body>
</html>