.header-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding: .5rem;
   background-color: var(--color3-background);
}

.header-logo {
   width: min(45%, 200px);
   margin-right: 1rem;
}

.header-logo img {
   width: 100%;
}

.header-search-form {
   width: min(33%, 15rem);
   display: flex;
   align-items: center;
   justify-content: center;
}

.header-search-button {
   width: 100%;
}

.header-icon-button {
   position: relative;
   left: -20px;
   width: 1rem;
}

.header-burger-menu {
   background-color: black;
   width: 25px;
   height: 25px;
   border-radius: 5px;
   color: white;
   display: grid;
   place-items: center;
}

.header-burger-menu.rotate-back i {
   transform: rotate(180deg);
   transition: all 500ms;
}

.header-mobile-nav {
   padding: .5rem;
   display: flex;
   width: 100%;
   animation: slide-in 1s forwards;
}

.header-mobile-nav.deactivate {
   display: none;
}

.badge:after{
   content:attr(value);
   font-size:10px;
   background: var(--color1-gray-white);
   border-radius:50%;
   padding:3px;
   position:relative;
   left: -3px;
   top:-10px;
   opacity:0.9;
}

@keyframes slide-in {
   0% {
     transform: translateY(-10%);
   }
   100% {
     transform: translateY(0);
   }
 }

.header-mobile-ul {
   display: flex;
   flex-direction: column;
   text-align: start;
   gap: .5rem;
   list-style-type: none;
   color: black;
}

.header-mobile-ul a {
   text-decoration: none;
   color: black;
   font-size: 1rem;
   font-weight: bold;
}

.header-mobile-ul a:visited, .header-mobile-shopping:visited {
   color: black;
}

.header-mobile-shopping {
   font-size: 1.25rem;
   color: black;
}

.header-nav {
   display: none;
}

@media (min-width:880px) {

   .header-mobile-shopping {
      display: none;
   }

   .header-burger-menu {
      display: none;
   }

   .header-mobile-nav {
      display: none;
   }

   .header-nav {
      margin-left: 1rem;
      display: flex;
      justify-content: space-around;
      gap: 2.5rem;
      padding: .7rem;
   }

   .header-left-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      list-style-type: none;
   }
   
   .header-left-nav a {
      text-decoration: none;
      color: black
   }

   .header-left-nav a:visited, .header-right-nav a:visited {
      color: black;
   }
   
   .header-right-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      margin-right: 2rem;
      list-style-type: none;
   }

   .header-right-nav a {
      color: black;
   }

   .header-logo {
      margin-right: 2rem;
   }

}