* {
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
}
header {
   background-color: #EAC926;
}
nav {
   display: none;
}
main {
   background-color: #ebedef;
   margin: auto;
}
main section article {
   background-color: white;
   border-radius: 15px;
   margin-left: 20px;
   margin-right: 20px;
   padding: 10px
}
footer {
   background-color:  white;
   text-align: center;
   color: #adadad;
}
footer article {
   padding: 10px;
}
form {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
img {
   max-width: 100%;
   height: auto;
}
h2 {
   text-align: center;
   font-size: 24px;
   color: #39b54a;
}
h3 {
   color: #666;
}
footer div i {
   color: #1259c3;
}
article {
   margin-bottom: 25px;
}
div {
   position: relative;
}

.header-logo {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   padding: 15px;
   width: 95%;
}
.logo {
   max-width: 50%;
}
.form {
   max-width: 48%;
   position: relative;
}
.botton {
   max-width: 80%;
}
.icon-botton {
   position: absolute;
   right: 1.5rem;
   top: 0.2rem;
   font-size: 0.8rem;
}
.semititle {
   justify-self: center;
   padding-top: 1.5rem;
}
.prices {
   font-size: 1.3rem;
   color: #39b54a;
}
.discound {
   font-size: 1rem;
}
.description {
   font-size: 16px;
}
.burguer-menu {
   background-color: #1259c3;
   width: 30px;
   height: 30px;
   margin: 10px auto;
   border-radius: 5px;
   color: white;
   text-align: center;
   padding: 6px;
}
.details-info {
   border-top: 1px solid #ebebed;
   padding: 15px;
}
.icon-product{
   border-radius: 50%;
   border: 1px solid #26bb58;
   padding: 7px;
   color: #26bb58;
   background-color: #FFF;
   display: inline-block;
   position: absolute;
   font-size: 1.2rem;
   margin-bottom: 10px;
   right: 2rem;
   top: -1.2rem;
}
.align-prices {
   display: flex;
   align-items: center;
   gap: 1rem;
}

#banner {
   display: block;
}

@media (min-width:769px) {
   nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 10px;
      padding: 15px;
   }
   article {
      display: inline-block;
      margin: auto;
      margin-bottom: 25px;
   }
   section article img {
      max-width: 400px;
   }
   .burguer-menu {
      display: none;
   }
   .logo {
      max-width: 200px;
   }
   .left-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      margin-left: 2rem;
   }
   .right-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      margin-right: 2rem;
   }
   .semititle {
      padding-top: 0;
   }
}