:root {
   --color1-gray-white: #ebedef;
   --color2-white: #ffffff;
   --color3-background: #EAC926;
   --color4-green: #39b54a;
   --backgound-form: #edebe4
}

* {
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
}
header {
   background-color: var(--color3-background);
}
nav {
   display: none;
}
main {
   background-color: var(--color1-gray-white);
   margin: auto;
   padding-top: 20px;
   padding-bottom: 20px;
}
section {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}
main section article {
   background-color: white;
   display: relative;
   border-radius: 15px;
   width: 80%;
   transition: all 450ms;
}
main section article:hover {
   box-shadow: 5px 5px rgb(0, 0, 0, 0.5);
}
footer {
   background-color:  white;
   text-align: center;
   color: #adadad;
}
footer article {
   padding: 10px;
}
img {
   max-width: 100%;
   height: auto;
}
h2 {
   text-align: center;
   font-size: 24px;
   color: var(--color4-green);
}
h3 {
   color: #666;
}
footer div i {
   color: #1259c3;
   transition: all 250ms;
}
footer article:hover div i {
   color: #41D1D9;
}
article {
   margin-bottom: 25px;
}
div {
   position: relative;
}

.header-logo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 15px;
   width: 95%;
}
.logo {
   max-width: 50%;
}
.form {
   max-width: 48%;
   position: relative;
   text-align: center;
}
.botton {
   max-width: 80%;
}
.icon-botton {
   position: absolute;
   right: 1rem;
   top: 0.05rem;
   font-size: 0.8rem;
}
.semititle {
   margin: auto;
   padding-top: 1.5rem;
}
.prices {
   font-size: 1.3rem;
   color: var(--color4-green);
}
.discound {
   font-size: 1rem;
}
.description {
   font-size: 16px;
   padding: 15px;
   opacity: 0;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   color: var(--color2-white);
   transition: all 450ms;
}
main section article:hover .description {
   display: absolute;
   background-color: rgb(0, 0, 0, 0.5);
   color: var(--color2-white);
   margin: 0;
   bottom: 0;
   width: 100%;
   opacity: 100;
}
.burguer-menu {
   background-color: #1259c3;
   width: 30px;
   height: 30px;
   margin: 10px auto;
   border-radius: 5px;
   color: white;
   text-align: center;
   padding: 6px;
}
.details-info {
   border-top: 1px solid var(--color1-gray-white);
   padding: 15px;
}
.icon-product{
   border-radius: 50%;
   border: 1px solid var(--color4-green);
   padding: 7px;
   color: var(--color4-green);
   background-color: var(--color2-white);
   display: inline-block;
   position: absolute;
   font-size: 1.2rem;
   margin-bottom: 10px;
   right: 2rem;
   top: -1.2rem;
   transition: rotate 450ms;
}
main section article:hover .icon-product {
   rotate: -90deg;
}
.align-prices {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.text-danger{
   color: rgb(160, 16, 16)
}


/** user/profile **/

.profile-description {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
   flex-flow: column;
   padding-top: 40px;
   padding-bottom: 40px;
   border-radius: 10px;
   background-color: var(--backgound-form);
   color: black;
   background-attachment: fixed;
   background-size: cover;
}

.profile-image {
   max-width: 300px;
   display: inline-block;
   border-radius: 50%;
   border: solid 0.5rem var(--color3-background);
}

.profile-info {
   text-align: center;
   padding: 5px;
   color: black;
}

.logout-button {
   transition-duration: .5s;
   margin-top: 10px;
   width: 10rem;
   height: 2rem;
}

.logout-button:hover {
   background-color: var(--color3-background);
   color: black;
}


@media (min-width:481px) {
   main section article {
      display: inline-block;
      margin: auto;
      margin-bottom: 25px;
      width: 46%;
   }
}

@media (min-width:754px) {
   nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 10px;
      padding: 5px;
   }
   .burguer-menu {
      display: none;
   }
   .logo {
      max-width: 200px;
   }
   .left-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      margin-left: 2rem;
   }
   .right-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      margin-right: 2rem;
   }
   .form {
      margin-left: auto;
   }
   .semititle {
      padding-top: 0;
      margin: 0;
   }

}

@media (min-width:880px) {
   .header-logo, nav {
      max-width: 1200px;
      margin: auto
   }
   main section article {
      width: 24%;
   }
   footer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
   }
   footer article {
      width: 32%;
   }
}