<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Add a new product</title>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
   <link rel="stylesheet" href="/css/form.css">
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   <header>
      <%- include("./partials/header")%>
   </header>

   <form action="/" method="get" class="form-create">

      <div class="div-form">
         <label for="nameProduct">Nombre del producto</label>
         <input type="text" name="nameProduct" placeholder="Nombre ..." class="control-form">
      </div>
      
      <div class="div-form">
         <label for="price">Precio del producto</label>
         <input type="number" name="price" placeholder="$" class="control-form">
      </div>
      
      <div class="div-form">
         <label for="">Categoria del producto: </label>
         <select name="categoria" id="categoria" class="control-form">
            <option value="hogar">Hogar</option>
            <option value="electro">Electrodomesticos</option>
            <option value="ropa">Ropa</option>
         </select>
      </div>

      <div class="div-form">
         <label for="description">Descripción del producto</label>
         <textarea name="description" id="description" cols="20" rows="5" class="control-form"></textarea>
      </div>

      <div>
         <label for="productIMG">Inserta al menos una imagen del producto</label>
         <input type="file" name="productIMG" accept=".jpg, .png" multiple class="control-form">
      </div>

      <div>
         <label>¿El producto está en oferta?</label>
         <label for="offert">Sí</label>
         <input type="radio" name="offert" value="Sí">
         <label for="offert">No</label>
         <input type="radio" name="offert" value="No" checked>
      </div>
      
      <div class="div-form">
         <button type="reset" class="botton-form">Borrar</button>
         <button type="submit" class="botton-form">Enviar</button>
      </div>

   </form>

   <footer>
      <%- include("./partials/footer")%>
   </footer>

</body>
</html>