<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head", {title: 'Error'})%>

<body>
   
   <!-- Header -->
   <%- include("./partials/header", {user})%>

   <div style="display: flex; align-items: center; justify-content: center; padding-top: 200px; padding-bottom: 200px">
      <h1 style="color: darkred">Hi visitor, this page isn't available right now</h1>
   </div>

   <!-- Footer -->
   <%- include("./partials/footer")%>
   
</body>
</html>