<footer class="footer-container">

   <article class="footer-article">
      <div class="fa-2x">
         <i class="far fa-credit-card"></i>
      </div>
      <h3 class="footer-title">Pay with cash or card</h3>
      <p class="footer-description">With Liebre Market Cash, you hava you have interest-free installments with credit cards, and it's always safe!</p>
   </article>

   <article class="footer-article">
      <div class="fa-2x">
         <i class="fas fa-gift"></i>
      </div>
      <h3 class="footer-title">Free shipping from $2,500</h3>
      <p class="footer-description">Just for being registered in Liebre Market you get free shipping on thousands of products. products. It's a Market Points benefit.</p>
   </article>

   <article class="footer-article">
      <div class="fa-2x">
         <i class="fas fa-user-lock"></i>
      </div>
      <h3 class="footer-title">Safety, from start to finish</h3>
      <p class="footer-description">Don't like it? Send it back! At Liebre Market, there is nothing you can't do, because you are always protected.</p>
   </article>

   <article class="footer-article">
      <h3 class="footer-title footer-link">Copyright <a href="https://github.com/tizor98" target="_blank">Alberto Ortiz</a> ©<%= new Date().getFullYear() %></h3>
   </article>

</footer>