<header class="header-container">
      
   <a class="header-logo" href="/"><img class="header-logo" src="/img/logo-mercado-liebre.svg" alt="Logo :)"></a>

   <form class="header-search-form" action="/products">
      <input class="header-search-botton" type="text" placeholder="Search.." name="search">

      <button class="header-icon-botton" type="submit">
         <i class="fa fa-search"></i>
      </button>
      
   </form>

   <a class="header-mobile-shopping" href="/users/cart" id="shopping-mobile"><i class="fas fa-shopping-basket"></i></a>
   
   <div class="header-burguer-menu">
      <i class="fas fa-bars"></i>
   </div>

   <nav class="header-nav">
      <ul class="header-left-nav">
         <li><a href="/products">Products</a></li>
         <li><a href="/products?offer=true">On sale</a></li>
         <li><a href="/products/admin/create">Sell</a></li>
         <li><a href="/">Help</a></li>
      </ul>

      <ul class="header-right-nav">
         <% if(user) { %>
         <li><a href="/users/register"><i class="fas fa-user-circle"> <%= user.name %></i></a></li>
         <% } else { %>
         <li><a href="/users/register"><i class="fas fa-user-circle"> Register</i></a></li>
         <li><a href="/users/login"><i class="fas fa-external-link-square-alt"> Login</i></a></li>
         <% } %>
         <li><a href="/users/cart" id="shopping-web"><i class="fas fa-shopping-basket"> Cart</i></a></li>
      </ul>
   </nav>
   
   <nav class="header-mobile-nav deactivate">
      <ul class="header-mobile-ul">
         <li><a href="/products"><i class="fab fa-product-hunt"></i> Products</a></li>
         <li><a href="/products?offer=true"><i class="fas fa-tags"></i> On sale</a></li>
         <li><a href="/products/admin/create"><i class="fas fa-check-square"></i> Sell</a></li>
         <li><a href="/users/login"><i class="fas fa-user-circle"></i> <%= user ? user.name : 'Login' %></a></li>
      </ul>
   </nav>
   
</header>