<header class="header-container">
      
   <img class="header-logo" src="/img/logo-mercado-liebre.svg" alt="Logo :)">

   <form class="header-search-form" action="/">
      <input class="header-search-botton" type="text" placeholder="Search.." name="search">

      <button class="header-icon-botton" type="submit">
         <i class="fa fa-search"></i>
      </button>
      
   </form>

   <a class="header-mobile-shopping" href="/"><i class="fas fa-shopping-basket"></i></a>
   
   <div class="header-burguer-menu">
      <i class="fas fa-bars"></i>
   </div>

   <nav class="header-nav">
      <ul class="header-left-nav">
         <li><a href="/products">Products</a></li>
         <li><a href="/products">On sale</a></li>
         <li><a href="/products/admin/create">Sell</a></li>
         <li><a href="/">Help</a></li>
      </ul>

      <ul class="header-right-nav">
         <li><a href="/users/register"><i class="fas fa-user-circle"> Register</i></a></li>
         <li><a href="/users/login"><i class="fas fa-external-link-square-alt"> Login</i></a></li>
         <li><a href="/"><i class="fas fa-shopping-basket"> Cart</i></a></li>
      </ul>
   </nav>
   
   <nav class="header-mobile-nav deactivate">
      <ul class="header-mobile-ul">
         <li><a href="/products"><i class="fab fa-product-hunt"> Products</i></a></li>
         <li><a href="/products"><i class="fas fa-tags"> On sale</i></a></li>
         <li><a href="/products/admin/create"><i class="fas fa-check-square"> Sell</i></a></li>
         <li><a href="/users/login"><i class="fas fa-user-circle"> Login</i></a></li>
      </ul>
   </nav>
   
</header>