<header>

   <div class="header-logo">
      
      <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo :)">

      <form class="form" action="/">
         <input class="botton" type="text" placeholder="Search.." name="search">

         <button class="icon-botton" type="submit">
            <i class="fa fa-search"></i>
         </button>
         
      </form>

      <p class="semititle"><i class="fas fa-tags"> Compra en cuotas y sin tarjeta de crédito</i></p>
   </div>
      
   <nav>
      <ul class="left-nav" style="list-style-type:none">
         <li><a href="/">Ofertas</a></li>
         <li><a href="/">Tiendas oficiales</a></li>
         <li><a href="/products/admin/create">Vender</a></li>
         <li><a href="/">Ayuda</a></li>
      </ul>

      <ul class="right-nav" style="list-style-type:none">
         <li><a href="/users/register"><i class="fas fa-user-circle"> Crea tu cuenta</i></a></li>
         <li><a href="/users/login"><i class="fas fa-external-link-square-alt"> Ingresa</i></a></li>
         <li><a href="#"><i class="fas fa-shopping-basket"> Mis compras</i></a></li>
      </ul>
   </nav>

   <div class="burguer-menu">
      <i class="fas fa-bars"></i>
   </div>

   <!-- <img class="banner-header" src="/img/img-home-banner.jpg" alt="Banner de inicio"> -->

</header>