<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head", {title: 'Payment Info'}) %>

<body>
   
   <!-- Header -->
   <%- include("../partials/header") %>

   <div class="form-box">
   <form action="/users/payment?_method=put" method="POST" class="form-create">

      <div class="div-form">
         <label for="type">Type</label>
         <input type="text" name="type" id="type" class="control-form" >
      </div>
      
      <div class="div-form">
         <label for="ccn">Credit Card Number</label>
         <input type="number" name="ccn" id="ccn" class="control-form" >
      </div>

      <div class="div-form">
         <label for="cce">Credit Card Expiration</label>
         <input type="text" name="cce" id="cce" class="control-form">
      </div>

      <div class="div-form">
         <label for="cvv">Credit Card CVV</label>
         <input type="number" name="cvv" id="cvv" class="control-form">
      </div>

      <br>

      <div>
         <button type="submit" class="botton-form">Update</button>
         <button type="reset" class="botton-form">Reset</button>
      </div>
   
   </form>
   </div>

   <!-- Footer -->
   <%- include("../partials/footer")%>

</body>
</html>