<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head", {title: 'Profile'}) %>

<body>
   
   <!-- Header -->
   <%- include("../partials/header") %>
   
   <!-- Footer -->
   <%- include("../partials/footer")%>

</body>
</html>